<nav>
    <ul>
        <li class=""><a href="index.html"><img src="images/logo.png"></a></li>
        <li class="hideOnSmall"><a href="index.html">Home</a></li>
        <li class="hideOnSmall"><a href="about.html">About</a></li>
        <li class="hideOnSmall"><a href="excom.html">ExCom</a></li>
        <li class="hideOnSmall"><a href="events.html">Events</a></li>
        <li class="hideOnSmall"><a href="resources.html">Resources</a></li>
        <li class="hideOnSmall"><a href="gallery.html">Gallery</a></li>
        <li class="hideOnSmall"><a href="contactus.html">Contact Us</a></li>
        <li class="menu-button" onclick=showSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
    <ul class="sidebar">
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="excom.html">ExCom</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="index.html">Home</a></li>
        <li class="menu-button d-flex justify-content-center align-items-center" onclick=closeSideBar()><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></li>
    </ul>
</nav>

<script>
    
</script>